table {
    width: 80%;
    height: 80%;
}

.table-header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
    border-bottom: 2px solid #e5e5e5;
}